ray.example.com {
  encode zstd gzip
  request_body {
    max_size 64000
  }
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
    -Server
  }
  reverse_proxy 127.0.0.1:3000 {
    health_uri /livez
    health_interval 15s
    transport http {
      dial_timeout 5s
      response_header_timeout 25s
      read_timeout 25s
      write_timeout 10s
    }
  }
}
