ray.example.com {
  encode zstd gzip
  request_body {
    max_size 64000
  }
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
    -Server
  }
  reverse_proxy 127.0.0.1:3000 {
    health_uri /health
    health_interval 15s
  }
}
